@using Final.ViewModel;
@model LinkViewModel

@{
    Layout = "_UserDataLayout";
    ViewData["Title"] = "Link";
}

<h1>Links</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="createCv" asp-controller="userdata">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Linkedin" class="control-label"></label>
                <input asp-for="Linkedin" class="form-control" style="width:400px"/>
                <span asp-validation-for="Linkedin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GitHub" class="control-label"></label>
                <input asp-for="GitHub" class="form-control" style="width:400px" />
                <span asp-validation-for="GitHub" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input hidden asp-for="@Model.Title" class="form-control" / style="width:250px">
            </div>
            <div class="form-group">
                <textarea hidden asp-for="@Model.Description" class="form-control" style="height: 140px;width: 450px;"></textarea>
            </div>
            <div class="form-group">
                <input hidden asp-for="@Model.ProjectLink" class="form-control" style="width:250px" />
            </div>
            <div class="form-group">

                <input hidden asp-for="@Model.ProjectEndDate" class="form-control" style="width:250px" />

            </div>
            <div class="form-group">

                <input hidden type="text" value="@Model.Address" style="height: 140px;width: 450px;" asp-for="Address" class="form-control"></input>

            </div>
            <div class="form-group">

                <input hidden type="text" value="@Model.Phone" style="height: 140px;width: 450px;" asp-for="Phone" class="form-control"></input>

            </div>
            <div class="form-group">

                <input hidden type="text" value="@Model.Photo" style="height: 140px;width: 450px;" asp-for="Photo" class="form-control"></input>

            </div>
            <div class="form-group">

                <input hidden type="text" value="@Model.Name" style="height: 140px;width: 450px;" asp-for="Name" class="form-control"></input>

            </div>
            <div class="form-group">

                <input hidden type="text" value="@Model.Email" style="height: 140px;width: 450px;" asp-for="Email" class="form-control"></input>

            </div>
            <div class="form-group">

                <input hidden type="text" value="@Model.JobTitle" style="height: 140px;width: 450px;" asp-for="JobTitle" class="form-control"></input>

            </div>
            <div class="form-group">

                <input hidden type="text" value="@Model.CoverLetter" style="height: 140px;width: 450px;" asp-for="CoverLetter" class="form-control"></input>

            </div>
            <div class="form-group">

                <input hidden type="text" value="@Model.SkillName" style="height: 140px;width: 450px;" asp-for="SkillName" class="form-control"></input>

            </div>
            <div class="form-group">

                <input hidden type="text" value="@Model.ExperienceJobTitle" style="height: 140px;width: 450px;" asp-for="ExperienceJobTitle" class="form-control"></input>

            </div>
            <div class="form-group">

                <input hidden type="text" value="@Model.CompanyName" style="height: 140px;width: 450px;" asp-for="CompanyName" class="form-control"></input>

            </div>
            <div class="form-group">

                <input hidden type="text" value="@Model.Level" style="height: 140px;width: 450px;" asp-for="Level" class="form-control"></input>

            </div>

            <div class="form-group">

                <input hidden type="text" value="@Model.StartDate" style="height: 140px;width: 450px;" asp-for="Level" class="form-control"></input>

            </div>

            <div class="form-group">

                <input hidden type="text" value="@Model.EndDate" style="height: 140px;width: 450px;" asp-for="EndDate" class="form-control"></input>

            </div>

            <div class="form-group">

                <input hidden type="text" value="@Model.Details" style="height: 140px;width: 450px;" asp-for="Details" class="form-control"></input>

            </div>
           
            <div class="form-group">
                <br />
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
